[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-openai = "*"
langchain-community = "*"
langchain-groq = "*"
langchain-tavily = "*"
pydantic = "*"
fastapi = "*"
streamlit = "*"

[dev-packages]

[requires]
python_version = "3.12"
